.listing_body{
    background-color: #f6f6f6;
}
.booking_title{
    font-size: 22px;
    font-weight: 600;
    color: var(--color-dark);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5px;  
    background-color: rgb(250 250 250);
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
 
.booking_title span{
    color: grey;
    font-weight: 400;
    font-size: 13px;
}
.booking_title img{
    height: 26px;
    width: auto;
}
.form_booking_f{
    margin: -10px;
}
.form_booking{
    padding: 10px;
}
.form_booking label{
    font-weight: 600;
    font-size: 13px;
}
.form_booking label span{
    color: var(--color-red);
    font-size: 15px; 
}
.form_input .form-control{
    border-radius: 0px;
    box-shadow: none;
    font-size: 13px;
    padding: 15px 14px;
    box-shadow: none !important;
    border-radius: 3px;
    color: grey;
    font-weight: 500;
}
.form_input_minus_m{
    margin: -6px;
}
.form_input_minus{
    padding: 6px;
}
.mt_4{
    margin-top: 2rem;
}
.hr_line{
    margin: 2.1rem 0px;
    opacity: 0.1;
}
.secure_tit{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-dark);
}
.secure_tit img{
    height: 28px;
    width: auto;
}
.book_btn_booking{
    background-color: var(--color-red);
    color: var(--color-white);
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: center;
    padding: 14px;
    border-radius: 50px;
    font-weight: 600; 
    position: relative; 
    z-index: 1;
    font-size: 15px;
}
.book_btn_booking::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 110%;
    height: 130%;
    background-color: var(--color-red);
    opacity: 0.1;
    border-radius: 50px;
    z-index: -1;
}
.pass_de_cont{
    display: flex; 
    font-size: 15px;
    font-weight: 600;
    justify-content: space-between;
}
.pass_de_cont ul {
    width: 100%;
    padding-left: 15px;
}
.pass_de_cont ul li{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 9px 0px;
    color: grey;
    font-weight: 500;
}
.pass_hrr{
    margin: 13px 0px;
    opacity: 0.1;
}
.pass_detail_price{
    background-color: white;
    padding: 15px 0px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 1px 20px rgba(108, 108, 108, 0.1);
}
.pass_de_cont{
    padding: 0px 18px;
}
.price_s{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    background-color: rgb(250 250 250);
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.book_off img{
    border-radius: 5px;
}
/* .booking_main{
    background-color: #fcfbfb;
    padding: 25px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    border-radius: 5px; 
}*/
.booking_main{
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--color-white); 
}
.booking_main1{
    margin-top: 2rem;
} 
.booking_main_m{
    padding: 20px;
    padding-top: 0px;
}
.grand_totat{
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 14px 20px;
    
}
.banner_booking{
    background-color: var(--color-white);
    padding: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: var(--color-dark);
}
.bagde_cust{
    gap: 8px;
}
.bagde_cust img{
    height: 15px;
    width: auto;
}
.badge_icon{
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book_semi1{
    display: flex;
    align-items: center;
    gap: 7px;
}
.price_tit img{
    height: 20px;
    width: auto;
    margin-right: 2px;
}
.price_summ{
    display: none;
}
.close_price_sum{
    display: none;
}
.viw_d{
    font-size: 12px;
    font-weight: 600; 
    color: var(--color-blue);
    border: none;
    display: flex;
    align-items: center; 
    background-color: transparent;
    color: var(--color-dark); 
    padding: 2px 0px;
    margin-right: 15px; 
    border-bottom: 2px solid var(--color-blue);
}
.pass_de_cont_h .price_s{
    border: none;
    width: initial;
    background-color: transparent;
    justify-content: flex-start;
}
.flight_details_h p{
    font-size: 13px; 
}
.total_jr{
    background-color: #eee;
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}
@media screen and (max-width: 992px){
    .bagde_cust{
        font-size: 14px;
    }
    .price_summ{
        display: initial;
    }
    .price_summ{
        font-size: 14px;
        text-align: end;
    }
    .flex_me{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price_tit{
        color: var(--color-red);
        font-size: 16px;
    }
    .price_bg{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: rgba(255,255,255,1); 
    }
    .close_price_sum{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 5px; 
        border: none;
        padding: 10px;
        background-color: var(--color-dark);
        color: var(--color-white);
        font-weight: 600;
        text-transform: uppercase; 
    }
    .close_price_sum svg{
       width: 20px;
       height: 20px;
       padding: 7px;
    }
}
@media screen and (max-width: 768px){
    .booking_title{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width: 568px){
    .booking_title{
        font-size: 17px;
    }
    .booking_title img{
        height: 23px;
    }
    .booking_title span{
        font-size: 10px;
    }
    .booking_title{
        padding: 12px 20px;
    }
    .form_input .form-control{
        font-size: 11px;
        padding: 12px;
    }
    .form_booking label{
        font-size: 11px;
    }
    .secure_tit{
        font-size: 12px;
    }
    .book_btn_booking{
        font-size: 13px;
    }
    .booking_main_m {
        padding: 19px;}
        .form_booking {
            padding: 7px;
        }
        .form_booking_f {
            margin: -7px;
        }
        .booking_main_m{
            margin-top: 0px !important;
        }
        .book_btn_booking::after{
            width: 105%;
        }
        .bagde_cust{
            font-size: 12px !important;
        }
        .price_summ p{
            font-size: 12px; 
        }
        .total_prr{
            font-size: 11px !important;
        }
        .price_tit{
            font-size: 15px !important;
        }
        .booking_main1 {
            margin-top: 20px;
        }
        .price_s {
            font-size: 17px;}
}