.selected>img{
    border: 2px solid red !important;
    border-radius: 50%;
}
.active>img{
    border: 3px solid yellow !important;
    border-radius: 50%;
}

.class-option{
    font-size: 11px;
}

.travel-class{
    
    border: 1px solid red;
    
}
.travel-class-dropdown{
    font-size: 11px;
}
.hidden{
    border:2px solid yellow;
    display:none;
}